* {
    margin: 0;
    padding: 0;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #000;
}

.navbar {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, #444, transparent) 1;
}

.marginTopWithCoin {
    height: 30vh;
    cursor: url("assets/coin.cur") 16 16, auto;
}

.heroSection {
    cursor: url("assets/coin.cur") 16 16, auto;
    background: linear-gradient(to bottom, #000, #0a0a0a);
}

.featureSection,
.demoSection,
.aboutSection,
.contactSection {
    padding: 70px 0;
}

.featureSection .card:hover {
    transform: scale(1.05);
}

/* Dashboard styling */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: #00488b;
    transition: width 0.3s;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: white;
}

.sidebar .description {
    font-size: 14px;
}

.sidebar .nav-link:hover {
    background-color: #d8a602;
    color: black;
}

.sidebar .nav-link.active {
    background-color: #d8a602;
    color: black;
}

.sidebar .nav-link.active i {
    color: black;
}

.main-content {
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}

@media(max-width:480px) {
    .sidebar {
        width: 60px;
    }

    .sidebar .description {
        display: none;
    }

    .sidebar .nav-link {
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }
}