<nav class="navbar navbar-expand-sm bg-black fixed-top border-bottom shadow-sm">
  <div class="container">
    <a href="../index.html" class="navbar-brand d-flex align-items-center">
      <img
        src="../assets/logo.png"
        alt="navlogo"
        class="img-fluid me-2"
        style="width: 40px"
      />
      <h1>PFMS</h1>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="#features" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a href="#demo" class="nav-link">Demo</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <button
            class="btn btn-primary ms-2"
            data-bs-toggle="modal"
            data-bs-target="#login"
          >
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login Modal -->
<div class="modal fade bg-dark" id="login">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mx-auto">Login</h3>
        <button
          class="btn-close position-absolute end-0 me-3"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div
        class="modal-body d-flex flex-column p-3 justify-content-center align-items-center"
      >
        <div class="mb-2 w-75">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="loginEmail" />
        </div>
        <div class="mb-2 w-75">
          <label for="loginPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="loginPassword" />
        </div>

        <div class="form-check w-75 mx-auto text-start mt-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="rememberMe"
            style="cursor: pointer"
          />
          <label
            class="form-check-label user-select-none"
            for="rememberMe"
            style="cursor: pointer"
            >Remember me</label
          >
        </div>

        <button class="btn btn-primary my-3 w-50 mx-auto">Login</button>

        <p class="mt-1 text-center">
          Don't have an account?
          <a
            class="text-decoration-none text-primary"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#signup"
            >Sign Up</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Sign Up Modal -->
<div class="modal fade bg-dark" id="signup">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mx-auto">Sign Up</h3>
        <button
          class="btn-close position-absolute end-0 me-3"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div
        class="modal-body d-flex flex-column p-3 justify-content-center align-items-center"
      >
        <div class="mb-2 w-75">
          <label for="signupName" class="form-label">Name</label>
          <input type="text" class="form-control" id="signupName" />
          <span class="text-danger" id="signupNameError"></span>
        </div>
        <div class="mb-2 w-75">
          <label for="signupEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="signupEmail" />
          <span class="text-danger" id="signupEmailError"></span>
        </div>
        <div class="mb-2 w-75">
          <label for="signupPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="signupPassword" />
          <span class="text-danger" id="signupPassError"></span>
        </div>
        <div class="mb-2 w-75">
          <label for="confirmPass" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPass" />
          <span class="text-danger" id="cpError"></span>
        </div>

        <button class="btn btn-primary my-4 w-50 mx-auto" id="signupBtn">
          Sign Up
        </button>

        <p class="mt-1 text-center">
          Already have an account?
          <a
            class="text-decoration-none text-primary"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#login"
            >Login</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
